<!doctype html>
<html>
<head>
  <title>Dancer</title>
  <link rel=stylesheet type=text/css href="<% css_url %>">
</head>
<body>
  <div class=page>
  <h1>Dancer</h1>
     <div class=metanav>
     <% IF not session.logged_in %>
       <a href="<% login_url %>">Log In</a>
     <% ELSE %>
       <a href="<% logout_url %>">Log Out</a>
     <% END %>
  </div>
  <% IF msg %>
    <div class=flash> <% msg %> </div>
  <% END %>
  <% content %>
</div>
</body>
</html>
